{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link href="{% static "account/css/base.css" %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>
<body>
<div id="header">
    <span class="logo">Bookmarks</span>
    {% if user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
                <a href="{% url "dashboard" %}">My dashboard</a>
            </li>


            <li {% if section == "people" %}class="selected"{% endif %}>
                <a href="{% url "user_list" %}">People</a>
            </li>

            <li {% if section == "images" %}class="selected"{% endif %}>
                <a href="{% url "images:list" %}">Images</a>
            </li>
        </ul>
    {% endif %}
    <span class="user">
         {% if request.user.is_authenticated %}
             Hello {{ request.user.first_name|default:request.user.username }},
             <a href="{% url "logout" %}">Logout</a>
         {% else %}
             <a href="{% url "login" %}">Log-in</a>
         {% endif %}
     </span>
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>




{% if messages %}
    <script>
        {% for message in messages %}
            Swal.fire({
                title: '{{ message }}',
                icon: '{{ message.tags }}',
                confirmButtonText: 'ok'
            })
        {% endfor %}
    </script>
{% endif %}

<script>
    const csrftoken = Cookies.get('csrftoken');

    document.addEventListener('DOMContentLoaded', (event) => {
        {% block domready %}
        {% endblock %}
    })
</script>
</body>
</html>